.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 3em;
}
.links {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
a {
  text-decoration: none;
  color: #c0c0c0;
}
a:hover {
  color: white;
}

.nav-button {
  border: 1px solid rgb(3, 179, 3);
  outline: none;
  background-color: transparent;
  color: rgb(3, 179, 3);
  cursor: pointer;
  padding: 4px 7px;
  border-radius: 4px;
}

/* For screen with max-width 400 */
@media screen and (max-width: 400px) {
  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 13px;
    gap: 7px;
    margin: 0 6px !important;
  }
  .nav-button{
    padding: 1px 3px;
  }
  h3 {
    font-size: 16px;
  }
  .links{
    gap: 10px;
  }
  a{
    font-size: 14px;
  }
}
