.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 3em;
}
.navbar-container .links {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.navbar-container a {
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  color: #c0c0c0;
}
.navbar-container a:hover {
  color: white;
}

.navbar-container .nav-button {
  border: 1px solid rgb(3, 179, 3);
  outline: none;
  background-color: transparent;
  color: rgb(3, 179, 3);
  cursor: pointer;
  padding: 4px 7px;
  border-radius: 4px;
}

/* For screen with max-width 400 */
@media screen and (max-width: 400px) {
  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 10px;
    gap: 7px;
    margin: 0 6px !important;
  }
  .navbar-container .nav-button {
    padding: 1px 3px !important;
    font-size: 13px;
  }
  .navbar-container h3 {
    font-size: 16px;
  }
  .navbar-container .links {
    gap: 10px;
  }
  .navbar-container a {
    font-size: 14px;
  }
}
