.project {
  margin-left: 5em;
}
.projects-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

@media screen and (max-width: 400px) {
  .project {
    margin-left: 0;
    width: 360px;
  }
  .projects-container{
    width: 360px;
    display: flex;
    flex-direction: column-reverse;
  }
  iframe{
    margin: 0 1em 0 -5em;
    width: 270px;

    height: 250px;
  }
}
